<h1>Juke<strong>Tube</strong></h1>

<form id="search" ng-submit="searchCtrl.search()">
    <input id="query" name="q" type="text" placeholder="Search for a YouTube video" ng-model="searchCtrl.query">
    <input id="submit" type="image" src="images/search.png" alt="Search">
</form>