<div class="video" ng-repeat="video in resultsCtrl.service.results">
	<img class="video-image" ng-src="{{ video.thumbnail }}">

    <p class="video-title">{{ video.title }}</p>

    <p class="video-author">{{ video.author }}</p>

    <p class="video-description">{{ video.description }}</p>
</div>